<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.surah_pendek">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SurahPendek">

        <activity
            android:name="com.example.surah_pendek.SplashScreen"
            android:label="@string/app_name"
            android:noHistory="true"
            android:screenOrientation="fullSensor"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.surah_pendek.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.surah_pendek.annas" />
        <activity android:name="com.example.surah_pendek.alfalaq" />
        <activity android:name="com.example.surah_pendek.alikhlas" />
        <activity android:name="com.example.surah_pendek.allahab" />
        <activity android:name="com.example.surah_pendek.annashr" />
        <activity android:name="com.example.surah_pendek.alkafirun" />
        <activity android:name="com.example.surah_pendek.alkautsar" />
        <activity android:name="com.example.surah_pendek.almaun" />

    </application>

</manifest>